In [1]:
import numpy as np 
import pandas as pd
from astropy.io import fits
from astropy.table import Table

In [2]:
files = ['/home/rt2122/Downloads/VII_110A_table3.dat.gz.fits', '/home/rt2122/Downloads/VII_110A_table4.dat.gz.fits',
        '/home/rt2122/Downloads/VII_110A_table5.dat.gz.fits']

In [4]:
abell_cat = []
for file in files:
    with fits.open(file) as hdul:
        cols = [hdul[1].columns]
        for i in range(len(cols)):
            if cols[i] == '---':
                cols[i] = str(i)
        abell_cat.append(pd.DataFrame(hdul[1].data, columns=cols))
        #col_names = hdul[1].columns.names
        #cols = []
        #for i in range(len(col_names)):
            #print(col_names[i])
            #if col_names[i] == '---':
            #    continue
            #c1 = fits.Column(name=col_names[i], array=hdul[1].data[col_names[i]], 
            #                 format=hdul[1].columns[col_names[i]].format)
            #cols.append(c1)
        #tbl = Table(hdul[1].data, names=cols)
        #names = [name for name in tbl.colnames if len(tbl[name].shape) <= 1]
        #df = tbl[names].to_pandas()
        #df = pd
        #abell_cat.append(df)

WARNING: VerifyWarning: It is strongly recommended that column names contain only upper and lower-case ASCII letters, digits, or underscores for maximum compatibility with other software (got '---'). [astropy.io.fits.column]

ValueError: Duplicate field names: ['---']

In [8]:
df = {}
with fits.open(files[1]) as hdul:
    cols = [col.name for col in hdul[1].columns]
    for col in cols:
        if col == '---':
            continue
        df[col] = np.array(hdul[1].data[col])

ValueError: Duplicate field names: ['---']

In [2]:
abell = []
with fits.open('/home/rt2122/Data/original_catalogs/abell.fit') as hdul:
    for i in range(1, 3):
        data = hdul[i].data
        table = Table(data)
        abell.append(table.to_pandas())

In [3]:
abell = pd.concat(abell, ignore_index=True)

In [4]:
abell.shape

(4076, 14)

In [5]:
abell

,_RAJ2000,_DEJ2000,recno,ACO,RAB1950,DEB1950,BMtype,Count,z,Rich,Dclass,m10,_RA_icrs,_DE_icrs
0,1.8929,16.5116,1.0,1,00 05.0,+16 14,III,51,0.1249,1,5,17.1,00 07 34.3,+16 30 42\r
1,2.1125,-19.6384,2.0,2,00 05.9,-19 55,II,72,0.0000,1,6,17.3,00 08 27.0,-19 38 18\r
2,2.3163,4.0282,3.0,3,00 06.7,+03 45,II:,65,0.0000,1,5,17.0,00 09 15.9,+04 01 42\r
3,2.3418,6.7782,4.0,4,00 06.8,+06 30,III,55,0.0000,1,6,17.8,00 09 22.0,+06 46 42\r
4,2.5728,33.0948,5.0,5,00 07.7,+32 49,,66,0.0000,1,5,17.1,00 10 17.5,+33 05 41\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4071,0.1660,-21.1049,NaN,4072,23 58.1,-21 23,II-III,45,0.0000,0,6,18.6,00 00 39.8,-21 06 18\r
4072,0.1665,-46.5549,NaN,4073,23 58.1,-46 50,II:,45,0.0000,0,6,19.1,00 00 40.0,-46 33 17\r
4073,0.1912,-36.4049,NaN,4074,23 58.2,-36 41,III,60,0.0000,1,5,17.1,00 00 45.9,-36 24 18\r
4074,0.2660,-46.7382,NaN,4075,23 58.5,-47 01,III,40,0.0000,0,6,19.0,00 01 03.8,-46 44 17\r
4075,0.4400,-48.2382,NaN,4076,23 59.2,-48 31,II-III,64,0.0000,1,6,18.7,00 01 45.6,-48 14 17\r

In [6]:
abell.rename(columns={'_RAJ2000' : 'RA', '_DEJ2000' : 'DEC'}, inplace=True)
abell = abell[['RA', 'DEC', 'z', 'Rich']]

In [7]:
abell

          RA      DEC       z  Rich
0     1.8929  16.5116  0.1249     1
1     2.1125 -19.6384  0.0000     1
2     2.3163   4.0282  0.0000     1
3     2.3418   6.7782  0.0000     1
4     2.5728  33.0948  0.0000     1
...      ...      ...     ...   ...
4071  0.1660 -21.1049  0.0000     0
4072  0.1665 -46.5549  0.0000     0
4073  0.1912 -36.4049  0.0000     1
4074  0.2660 -46.7382  0.0000     0
4075  0.4400 -48.2382  0.0000     1

[4076 rows x 4 columns]

In [9]:
abell.to_csv('/home/rt2122/Data/original_catalogs/csv/Abell.csv', index=False)

In [8]:
set(abell['Rich'])

{0, 1, 2, 3, 4, 5}