In [4]:
import pandas as pd
import numpy as np
import requests
import shutil
import DS_clusters as clusters
from DS_coordinates import coords_in_sweep, sweep_to_dict
import DS_Coma_Cluster_param as cc_prm

In [2]:
sweep_north = pd.read_csv('/home/rt2122/Data/selected_sweep_north.csv')

In [3]:
sweep_north.head()

,sum,name,coma_selected,Abell2029,Abell1689,Virgo
0,e7d6ebb79146b54603ff632a49dfa065b67f00e72d41e0...,sweep-000m005-010p000.fits,False,False,False,False
1,059467281d09b90cd54a5fba819a42cca5e80bdc81d2bd...,sweep-000p000-010p005.fits,False,False,False,False
2,529ab83d58b6c45e2fb33fb99ad3fc3a30f8610f690499...,sweep-000p040-010p045.fits,False,False,False,False
3,b874d1d6ea701bd3f946e02f89255fd18b51034b5dac52...,sweep-010m005-020p000.fits,False,False,False,False
4,b9d4eb08e54bf8d92ebc624c18a22b3062b8c8a2ab89a0...,sweep-010p000-020p005.fits,False,False,False,False

In [5]:
for i in range(sweep_north.shape[0]):
    for col, cluster in zip(['Abell2029', 'Abell1689', 'Virgo'], 
                            [clusters.Abell2029, clusters.Abell1689, clusters.Virgo]):
        sweep_north[col][i] = coords_in_sweep(sweep_north['name'][i], 
                                              [cluster.ra, cluster.dec])
    sweep_north['coma_selected'] = coords_in_sweep(sweep_north['name'][i],
                                    [cc_prm.ra_center, cc_prm.dec_center])

<ipython-input-5-9e5d1df58d3b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sweep_north[col][i] = coords_in_sweep(sweep_north['name'][i],

In [7]:
np.count_nonzero(sweep_north['Virgo'])

0

In [8]:
sweep_north.to_csv('/home/rt2122/Data/selected_sweep_north.csv', index=False)

In [9]:
sweep_south = pd.read_csv('/home/rt2122/Data/selected_sweep_south.csv')

In [10]:
sweep_south.head()

,sum,name,selected,coma_selected,Abell2029,Abell1689,Virgo
0,fd0ca1647b0be98cab8b6a2a37da58169358eaaf71dec9...,sweep-000m005-010p000.fits,0,False,False,False,False
1,79d5db41dddcc3da001573657a4c7c6f2d51743e9a4d2c...,sweep-000m010-010m005.fits,0,False,False,False,False
2,db086d6ebe0a77ab657f8613698b8c25ac2f3cd9fe4e8f...,sweep-000m015-010m010.fits,0,False,False,False,False
3,613f861882fd4849fec715f6e5657a66a0d72a12998bd9...,sweep-000m020-010m015.fits,0,False,False,False,False
4,22f9da834c527729079bf721313fdb19fd2bd09e0071aa...,sweep-000m025-010m020.fits,0,False,False,False,False

In [12]:
for i in range(sweep_south.shape[0]):
    for col, cluster in zip(['Abell2029', 'Abell1689', 'Virgo'], 
                            [clusters.Abell2029, clusters.Abell1689, clusters.Virgo]):
        sweep_south[col][i] = coords_in_sweep(sweep_south['name'][i], 
                                              [cluster.ra, cluster.dec])
    sweep_south['coma_selected'] = coords_in_sweep(sweep_south['name'][i],
                                    [cc_prm.ra_center, cc_prm.dec_center])

<ipython-input-12-f476c571527d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sweep_south[col][i] = coords_in_sweep(sweep_south['name'][i],

In [16]:
np.count_nonzero(sweep_south['coma_selected'] == True)

0

In [6]:
coords_in_sweep('sweep-000m005-010p000.fits', [5., 3.])

True

In [33]:
coords_in_sweep1('sweep-180p010-190p015.fits', [clusters.Virgo.ra, clusters.Virgo.dec])

RA1 180.0
DEC1 10.0
RA2 190.0
DEC2 15.0
RA 185.0
DEC 12.5
180.45 12.716666666666667

True

In [32]:
def coords_in_sweep1(sweepname, coords):
    import numpy as np
    sweep_dict = sweep_to_dict(sweepname)
    
    ra = coords[0]
    dec = coords[1]
    
    return ra <= sweep_dict['RA2'] and ra >= sweep_dict['RA1'] and\
        ((dec <= sweep_dict['DEC2'] and dec >= sweep_dict['DEC1']) or\
         (dec >= sweep_dict['DEC2'] and dec <= sweep_dict['DEC1']))

In [34]:
sweep_south.to_csv('/home/rt2122/Data/selected_sweep_south.csv', index=False)

In [17]:
sweep_south[sweep_south['Virgo']]

,sum,name,selected,coma_selected,Abell2029,Abell1689,Virgo
248,a14ccdf54ba3f7d99a5742178fa5382693c9eeb169b450...,sweep-180p010-190p015.fits,0,False,False,False,True

In [18]:
sweep_south[sweep_south['Abell2029']]

,sum,name,selected,coma_selected,Abell2029,Abell1689,Virgo
284,e719ea8c3922ce5fa74437818a2f96619bb18203f3315d...,sweep-220m010-230m005.fits,0,False,True,False,False
287,46cfa935e1da22da4ad3a4c1167f45a999bdc000f54c56...,sweep-220p005-230p010.fits,0,False,True,False,False

In [23]:
sweep_south[sweep_south['Abell1689']]

Empty DataFrame
Columns: [sum, name, selected, coma_selected, Abell2029, Abell1689, Virgo]
Index: []