In [4]:
import numpy as np
import pandas as pd

In [3]:
def merge2cats(cat1, cat2, merge_dist=400/3600, names=['1', '2'], prms={}): 
    from astropy.coordinates import SkyCoord
    from astropy import units as u
    
    sc1 = SkyCoord(ra=np.array(cat1['RA']) * u.degree, dec=np.array(cat1['DEC']) * u.degree, frame='icrs')
    sc2 = SkyCoord(ra=np.array(cat2['RA']) * u.degree, dec=np.array(cat2['DEC']) * u.degree, frame='icrs')
    
    idx, d2d, _ = sc1.match_to_catalog_sky(sc2)
    matched = d2d.degree <= merge_dist
    print(len(cat1), 'obj in ', names[0])
    print(len(cat2), 'obj in ', names[1])
    print(np.count_nonzero(matched), 'matched')
    print(len(cat1) - np.count_nonzero(matched), 'unique from', names[0])
   
    cats = [cat1, cat2]
    for this_cat, that_cat, this_name, that_name, this_idx in zip(cats, cats[::-1], names, names[::-1],
                                                            [cat1.index[matched], idx[matched]]):
        this_cat[this_name] = True
        this_cat[that_name] = False
        this_cat[that_name].iloc[this_idx] = True
    
    for coord in ['RA', 'DEC']:
        cat1[names[1]+coord] = np.nan
        cat2[names[1]+coord] = cat2[coord]
        cat1[names[1]+coord].iloc[matched] = np.array(cat2[coord][idx[matched]])
    
    for prm in prms:
        cat1[prm] = prms[prm]
        cat1[prm].iloc[matched] = np.array(cat2[prm][idx[matched]])
    
    print(len(cat2) - len(set(idx[matched])), 'unique from', names[1])
    cat2['matched'] = False
    cat2['matched'].iloc[idx[matched]] = True
    cat2 = cat2[cat2['matched'] == False]
    cat2.index = np.arange(len(cat2))
    print(len(cat2), 'unique from ', names[1])
    
    return pd.concat([cat1, cat2])

In [47]:
planck_z = pd.read_csv('/home/rt2122/Data/clusters/planck_z.csv')
mcxc = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/MCXC.csv')

In [59]:
c = merge2cats(planck_z, mcxc, names=['planck_z', 'mcxc'], merge_dist=5/60)
#c = merge2cats(mcxc, planck_z, names=['mcxc', 'planck_z'], merge_dist=5/60)

1094 obj in 1
1743 obj in 2
527 matched
567 unique from 1
1216 unique from 2
1217 unique from 2

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [55]:
c

,RA,DEC,z,M500,mcxc,planck_z,mcxcRA,mcxcDEC,matched,planck_zRA,planck_zDEC,Name,MCXC,RedMAPPer
0,0.030000,8.274000,0.039600,0.737300,True,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
1,0.103000,-2.625000,0.037900,0.329700,True,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
2,0.412000,-15.681000,0.124600,1.655700,True,False,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
3,0.488000,12.073000,0.203300,2.692700,True,True,NaN,NaN,True,0.483814,12.078187,NaN,NaN,NaN
4,0.799000,-6.086000,0.232000,5.218800,True,True,NaN,NaN,True,0.787839,-6.072208,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,334.692461,-45.285663,0.610000,6.288818,False,True,NaN,NaN,False,NaN,NaN,PSZ2 G351.76-54.71,,
547,290.247167,-45.859853,0.798000,6.578038,False,True,NaN,NaN,False,NaN,NaN,PSZ2 G352.05-24.01,,
548,219.614017,3.680896,0.219392,4.280166,False,True,NaN,NaN,False,NaN,NaN,PSZ2 G355.07+55.32,,RMJ143821.9+034013.2
549,209.964815,14.250487,0.209000,5.656355,False,True,NaN,NaN,False,NaN,NaN,PSZ2 G357.43+69.50,,RMJ135938.0+141648.4
550,323.485677,-42.666426,0.200000,4.206624,False,True,NaN,NaN,False,NaN,NaN,PSZ2 G358.34-47.31,,

In [18]:
len(planck_z), len(mcxc)

(1094, 1743)

In [13]:
mcxc

           RA     DEC       z    M500
0       0.030   8.274  0.0396  0.7373
1       0.103  -2.625  0.0379  0.3297
2       0.412 -15.681  0.1246  1.6557
3       0.488  12.073  0.2033  2.6927
4       0.799  -6.086  0.2320  5.2188
...       ...     ...     ...     ...
1738  359.260 -34.761  0.0475  2.6658
1739  359.830 -60.700  0.0989  1.9699
1740  359.864 -34.306  0.1150  0.7568
1741  359.900 -32.185  0.4780  1.4784
1742  359.982 -39.480  0.1024  2.1579

[1743 rows x 4 columns]

In [60]:
np.count_nonzero(c['planck_z']), np.count_nonzero(c['mcxc'])

(1094, 1744)

In [68]:
d = merge2cats(c[c['mcxc']], mcxc)

1744 obj in 1
1743 obj in 2
1744 matched
0 unique from 1
0 unique from 2

<ipython-input-67-9f1db8bd411c>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  this_cat[this_name] = True
<ipython-input-67-9f1db8bd411c>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  this_cat[that_name] = False
/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-67-9f1db8bd411c>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  this_cat[that_name].iloc[this_idx] = True
<ipython-input-67-9f1db8bd411c>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat1[names[1]+coord] = np.nan
<ipython-input-67-9f1db8bd411c>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat1[names[1]+coord].iloc[matched] = np.array(cat2[coord][idx[matched]])

IndexError: .iloc requires numeric indexers, got {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742}

In [66]:
d

,Name,RA,DEC,z,M500,MCXC,RedMAPPer,planck_z,mcxc,mcxcRA,mcxcDEC,planck_zRA,planck_zDEC,matched,1,2,2RA,2DEC
1,PSZ2 G000.13+78.04,203.558683,20.255990,0.1710,5.122391,J1334.1+2013,RMJ133408.7+201453.0,True,True,203.529,20.231,NaN,NaN,True,True,True,203.529,20.231
2,PSZ2 G000.40-41.86,316.084485,-41.354169,0.1651,5.297053,J2104.3-4120,,True,True,316.084,-41.349,NaN,NaN,True,True,True,316.084,-41.349
3,PSZ2 G000.77-35.69,307.972844,-40.598725,0.3416,6.333562,J2031.8-4037,,True,True,307.965,-40.620,NaN,NaN,True,True,True,307.965,-40.620
6,PSZ2 G002.77-56.16,334.659473,-38.879406,0.1411,4.411132,J2218.6-3853,,True,True,334.668,-38.897,NaN,NaN,True,True,True,334.668,-38.897
7,PSZ2 G002.82+39.23,235.015176,-3.285135,0.1533,5.736017,J1540.1-0318,,True,True,235.031,-3.308,NaN,NaN,True,True,True,235.031,-3.308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,NaN,358.957000,34.386000,0.1480,2.171900,NaN,NaN,False,True,NaN,NaN,NaN,NaN,False,True,False,358.957,34.386
1213,NaN,359.830000,-60.700000,0.0989,1.969900,NaN,NaN,False,True,NaN,NaN,NaN,NaN,False,True,False,359.830,-60.700
1214,NaN,359.864000,-34.306000,0.1150,0.756800,NaN,NaN,False,True,NaN,NaN,NaN,NaN,False,True,False,359.864,-34.306
1215,NaN,359.900000,-32.185000,0.4780,1.478400,NaN,NaN,False,True,NaN,NaN,NaN,NaN,False,True,False,359.900,-32.185
1216,NaN,359.982000,-39.480000,0.1024,2.157900,NaN,NaN,False,True,NaN,NaN,NaN,NaN,False,True,False,359.982,-39.480

In [89]:
all_found = pd.read_csv('/home/rt2122/Data/detected_cats/full_pz_all_found34_thr0.1_step8_no_fn_mpp.csv')
brcat = pd.read_csv('/home/rt2122/Data/SRGz/brcat_mpp.csv')

In [90]:
np.count_nonzero(all_found['mpp'] > 0.3), np.count_nonzero(brcat['mpp'] > 0.3)

(0, 0)

In [81]:
all_found.head(4)

,RA,DEC,area,min_rad,max_rad,mean_rad,min_pred,max_pred,tRA,tDEC,status,catalog,M500,z,pix2,mpp
0,80.739063,-1.298711,1.0,0.000000e+00,1.414214,0.853553,0.100002,0.100002,NaN,NaN,fp,NaN,NaN,NaN,train_pix,0.005653
1,149.798243,54.081141,1.0,0.000000e+00,1.414214,0.853553,0.100004,0.100004,NaN,NaN,fp,NaN,NaN,NaN,train_pix,0.005653
2,64.810863,-26.402030,1.0,1.136868e-13,1.414214,0.853553,0.100010,0.100010,NaN,NaN,fp,NaN,NaN,NaN,train_pix,0.005653
3,13.129393,39.918397,1.0,0.000000e+00,1.414214,0.853553,0.100023,0.100023,NaN,NaN,fp,NaN,NaN,NaN,train_pix,0.005653

In [82]:
brcat.head(4)

           RA        DEC  max_pred  galmask  psmask  CO_mask       mpp
0   65.909328  15.799634  5.000039        0       1        0  0.009512
1  146.452715 -10.044695  5.000144        1       0        1  0.009513
2   99.635969 -51.502430  5.000328        1       1        1  0.009513
3  271.903476  60.487588  5.000338        1       1        1  0.009514

In [83]:
brcat = brcat.rename({'max_pred' : 's/n'}, axis='columns')
brcat

               RA        DEC        s/n  galmask  psmask  CO_mask       mpp
0       65.909328  15.799634   5.000039        0       1        0  0.009512
1      146.452715 -10.044695   5.000144        1       0        1  0.009513
2       99.635969 -51.502430   5.000328        1       1        1  0.009513
3      271.903476  60.487588   5.000338        1       1        1  0.009514
4      175.415688  39.959376   5.000418        1       1        1  0.009515
...           ...        ...        ...      ...     ...      ...       ...
13767   84.837042 -70.110884  65.094880        0       0        0  0.083333
13768   79.776578  -5.889819  66.187060        0       0        0  0.083333
13769   83.552657  -6.557328  66.651710        0       0        0  0.083333
13770   82.754616  -5.248693  70.113630        0       0        0  0.083333
13771   83.201830  -5.554631  84.392910        0       0        0  0.083333

[13772 rows x 7 columns]

In [86]:
val = 0.3
all_found = all_found[all_found['mpp'] > val]
all_found.index = np.arange(len(all_found))
brcat = brcat[brcat['mpp'] > val]
brcat.index = np.arange(len(brcat))

In [88]:
len(all_found)

0

In [87]:
gen_cat = merge2cats(all_found, brcat, names=['all_found', 'brcat'], prms = {'s/n' : np.nan})

ValueError: The catalog for coordinate matching cannot be a scalar or length-0.

In [5]:
for mpp_val in np.arange(0.1, 1, 0.1):
    all_f = pd.read_csv('/home/rt2122/Data/detected_cats/full_pz_all_found34_thr0.1_step8_no_fn_mpp.csv')
    brcat = pd.read_csv('/home/rt2122/Data/SRGz/brcat_mpp.csv')
    all_f = all_f[all_f['mpp'] >= mpp_val]
    all_f.index = np.arange(len(all_f))
    brcat = brcat[brcat['mpp'] >= mpp_val]
    brcat.index = np.arange(len(brcat))
    brcat = brcat.rename(columns={'max_pred' : 's/n'})
    gen_cat = merge2cats(all_f, brcat, names=['SZcat', 'brcat'], prms={'s/n' : np.nan})
    gen_cat.to_csv('/home/rt2122/Data/gen_all_found_brcat_prec{:.1f}.csv'.format(mpp_val), index=False)

23352 obj in  SZcat
13772 obj in  brcat
6212 matched
17140 unique from SZcat
7565 unique from brcat
7565 unique from  brcat

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

23352 obj in  SZcat
13772 obj in  brcat
6212 matched
17140 unique from SZcat
7565 unique from brcat
7565 unique from  brcat
23352 obj in  SZcat
9487 obj in  brcat
4863 matched
18489 unique from SZcat
4628 unique from brcat
4628 unique from  brcat
14163 obj in  SZcat
6049 obj in  brcat
3010 matched
11153 unique from SZcat
3039 unique from brcat
3039 unique from  brcat
8707 obj in  SZcat
4037 obj in  brcat
1951 matched
6756 unique from SZcat
2086 unique from brcat
2086 unique from  brcat
5517 obj in  SZcat
2701 obj in  brcat
1345 matched
4172 unique from SZcat
1356 unique from brcat
1356 unique from  brcat
3973 obj in  SZcat
1982 obj in  brcat
1020 matched
2953 unique from SZcat
962 unique from brcat
962 unique from  brcat
2915 obj in  SZcat
1457 obj in  brcat
804 matched
2111 unique from SZcat
653 unique from brcat
653 unique from  brcat
1830 obj in  SZcat
934 obj in  brcat
563 matched
1267 unique from SZcat
371 unique from brcat
371 unique from  brcat

In [3]:
planck_z = pd.read_csv('/home/rt2122/Data/clusters/planck_z.csv')
mcxc = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/MCXC.csv')
act = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/ACT.csv')
abell = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/Abell.csv')

In [4]:
gen1 = merge2cats(planck_z, mcxc, names = ['PSZ2(z)', 'MCXC'])

1094 obj in 1
1743 obj in 2
545 matched
549 unique from 1
1200 unique from 2
1200 unique from 2

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
gen2 = merge2cats(gen1, act, names = ['gen1', 'ACT'])

2294 obj in 1
4195 obj in 2
442 matched
1852 unique from 1
3756 unique from 2
3756 unique from 2

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
gen3 = merge2cats(gen2, abell, names=['gen2', 'Abell'])

6050 obj in 1
4076 obj in 2
858 matched
5192 unique from 1
3236 unique from 2
3236 unique from 2

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
gen3 = gen3.drop(['gen1', 'gen2'], axis='columns')
gen3

,Name,RA,DEC,z,M500,MCXC,RedMAPPer,PSZ2(z),MCXCRA,MCXCDEC,matched,ACT,ACTRA,ACTDEC,Abell,AbellRA,AbellDEC,Rich
0,PSZ2 G000.04+45.13,229.190512,-1.017222,0.1198,3.962411,True,RMJ151653.9-010506.3,True,229.142,-0.949,NaN,False,NaN,NaN,True,229.1939,-0.9498,NaN
1,PSZ2 G000.13+78.04,203.558683,20.255990,0.1710,5.122391,True,RMJ133408.7+201453.0,True,203.529,20.231,NaN,True,203.533262,20.237773,True,203.5250,20.2109,NaN
2,PSZ2 G000.40-41.86,316.084485,-41.354169,0.1651,5.297053,True,,True,316.084,-41.349,NaN,True,316.082819,-41.349456,True,316.0628,-41.3842,NaN
3,PSZ2 G000.77-35.69,307.972844,-40.598725,0.3416,6.333562,True,,True,307.965,-40.620,NaN,True,307.966652,-40.623204,True,NaN,NaN,NaN
4,PSZ2 G002.08-68.28,349.632431,-36.332559,0.1400,2.835297,False,,True,NaN,NaN,NaN,True,349.602327,-36.311080,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3231,NaN,0.166000,-21.104900,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,True,0.1660,-21.1049,0.0
3232,NaN,0.166500,-46.554900,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,True,0.1665,-46.5549,0.0
3233,NaN,0.191200,-36.404900,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,True,0.1912,-36.4049,1.0
3234,NaN,0.266000,-46.738200,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,True,0.2660,-46.7382,0.0
3235,NaN,0.440000,-48.238200,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,True,0.4400,-48.2382,1.0

In [10]:
gen3.to_csv('/home/rt2122/Data/original_catalogs/csv/other/PSZ2(z)_MCXC_ACT_Abell_united.csv', index=False)