In [1]:
import numpy as np
import pandas as pd

In [2]:
sweep_north = pd.read_csv('/home/rt2122/Data/selected_sweep_north.csv', index_col='index')

In [3]:
sweep_north.head()

,sum,name,selected
index,,,
0,e7d6ebb79146b54603ff632a49dfa065b67f00e72d41e0...,sweep-000m005-010p000.fits,NaN
1,059467281d09b90cd54a5fba819a42cca5e80bdc81d2bd...,sweep-000p000-010p005.fits,NaN
2,529ab83d58b6c45e2fb33fb99ad3fc3a30f8610f690499...,sweep-000p040-010p045.fits,NaN
3,b874d1d6ea701bd3f946e02f89255fd18b51034b5dac52...,sweep-010m005-020p000.fits,NaN
4,b9d4eb08e54bf8d92ebc624c18a22b3062b8c8a2ab89a0...,sweep-010p000-020p005.fits,NaN

In [4]:
np.nan_to_num(sweep_north['selected'], copy=False, nan=0)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [5]:
sweep_north['coma_selected'] = False

In [6]:
sweep_north.head()

,sum,name,selected,coma_selected
index,,,,
0,e7d6ebb79146b54603ff632a49dfa065b67f00e72d41e0...,sweep-000m005-010p000.fits,0.0,False
1,059467281d09b90cd54a5fba819a42cca5e80bdc81d2bd...,sweep-000p000-010p005.fits,0.0,False
2,529ab83d58b6c45e2fb33fb99ad3fc3a30f8610f690499...,sweep-000p040-010p045.fits,0.0,False
3,b874d1d6ea701bd3f946e02f89255fd18b51034b5dac52...,sweep-010m005-020p000.fits,0.0,False
4,b9d4eb08e54bf8d92ebc624c18a22b3062b8c8a2ab89a0...,sweep-010p000-020p005.fits,0.0,False

In [7]:
from DS_coordinates import coords_in_sweep

In [8]:
coords = (195, 28)

In [13]:
for i in range(sweep_north.shape[0]):
    sweep_north['coma_selected'].loc[i] = coords_in_sweep(sweep_north.loc[i, 'name'], 
                                                          coords)

/home/rt2122/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
sweep_north.loc[2, 'name']

'sweep-000p040-010p045.fits'

In [14]:
sweep_north.head()

,sum,name,selected,coma_selected
index,,,,
0,e7d6ebb79146b54603ff632a49dfa065b67f00e72d41e0...,sweep-000m005-010p000.fits,0.0,False
1,059467281d09b90cd54a5fba819a42cca5e80bdc81d2bd...,sweep-000p000-010p005.fits,0.0,False
2,529ab83d58b6c45e2fb33fb99ad3fc3a30f8610f690499...,sweep-000p040-010p045.fits,0.0,False
3,b874d1d6ea701bd3f946e02f89255fd18b51034b5dac52...,sweep-010m005-020p000.fits,0.0,False
4,b9d4eb08e54bf8d92ebc624c18a22b3062b8c8a2ab89a0...,sweep-010p000-020p005.fits,0.0,False

In [15]:
np.count_nonzero(sweep_north['coma_selected'])

1

In [16]:
sweep_north.to_csv('/home/rt2122/Data/selected_sweep_north.csv')

In [17]:
sweep_south = pd.read_csv('/home/rt2122/Data/selected_sweep_south.csv', index_col='index')
sweep_south.head()

,sum,name,selected
index,,,
0,fd0ca1647b0be98cab8b6a2a37da58169358eaaf71dec9...,sweep-000m005-010p000.fits,0
1,79d5db41dddcc3da001573657a4c7c6f2d51743e9a4d2c...,sweep-000m010-010m005.fits,0
2,db086d6ebe0a77ab657f8613698b8c25ac2f3cd9fe4e8f...,sweep-000m015-010m010.fits,0
3,613f861882fd4849fec715f6e5657a66a0d72a12998bd9...,sweep-000m020-010m015.fits,0
4,22f9da834c527729079bf721313fdb19fd2bd09e0071aa...,sweep-000m025-010m020.fits,0

In [19]:
sweep_south['coma_selected'] = False

In [20]:
for i in range(sweep_north.shape[0]):
    sweep_south['coma_selected'].loc[i] = coords_in_sweep(sweep_south.loc[i, 'name'], 
                                                          coords)

/home/rt2122/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [21]:
sweep_south.head()

,sum,name,selected,coma_selected
index,,,,
0,fd0ca1647b0be98cab8b6a2a37da58169358eaaf71dec9...,sweep-000m005-010p000.fits,0,False
1,79d5db41dddcc3da001573657a4c7c6f2d51743e9a4d2c...,sweep-000m010-010m005.fits,0,False
2,db086d6ebe0a77ab657f8613698b8c25ac2f3cd9fe4e8f...,sweep-000m015-010m010.fits,0,False
3,613f861882fd4849fec715f6e5657a66a0d72a12998bd9...,sweep-000m020-010m015.fits,0,False
4,22f9da834c527729079bf721313fdb19fd2bd09e0071aa...,sweep-000m025-010m020.fits,0,False

In [22]:
np.count_nonzero(sweep_south['coma_selected'])

1