In [1]:
import astropy

In [11]:
from astropy.io import fits

In [12]:
fits_image_filename = "/home/rt2122/Data/survey-bricks.fits.gz"

In [13]:
hdul = fits.open(fits_image_filename)

In [31]:
columns = hdul[1].columns.names

In [32]:
columns

['BRICKNAME',
 'BRICKID',
 'BRICKQ',
 'BRICKROW',
 'BRICKCOL',
 'RA',
 'DEC',
 'RA1',
 'RA2',
 'DEC1',
 'DEC2']

In [35]:
data = hdul[1].data

In [34]:
TARGET_RA1 = 154.76
TARGET_RA2 = 167.1
TARGET_DEC1 = 54.27
TARGET_DEC2 = 61.25

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [62]:
selected_bricks = pd.DataFrame({'BRICKNAME' : [], 
                                'BRICKID' : [], 'BRICKROW': [], 'BRICKCOL': [], 
                                'RA' : [], 'DEC' : []})

In [63]:
selected_bricks.index.name='index'

In [64]:
selected_bricks

Empty DataFrame
Columns: [BRICKNAME, BRICKID, BRICKROW, BRICKCOL, RA, DEC]
Index: []

In [50]:
def line_in_field(line):
    
    def dot_in_field(ra, dec):
        if ra <= TARGET_RA2 and ra >= TARGET_RA1 and\
            dec <= TARGET_DEC2 and dec >= TARGET_DEC1:
            return True
        return False
    
    return dot_in_field(line['RA'], line['DEC']) or \
        dot_in_field(line['RA1'], line['DEC1']) or \
        dot_in_field(line['RA1'], line['DEC2']) or \
        dot_in_field(line['RA2'], line['DEC1']) or \
        dot_in_field(line['RA2'], line['DEC2'])

In [65]:
for line in tqdm_notebook(data):
    if line_in_field(line):
        idx = selected_bricks.shape[0]
        for col in list(selected_bricks):
            selected_bricks.loc[idx,col] = line[col]

/home/rt2122/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=662174.0), HTML(value='')))

In [66]:
selected_bricks.shape[0]

796

In [52]:
from tqdm import tqdm_notebook

In [60]:
selected_bricks.loc[0,'RA'] = 10

In [67]:
selected_bricks.head()

      BRICKNAME   BRICKID  BRICKROW  BRICKCOL          RA    DEC
index
0      1546p542  599380.0     577.0     362.0  154.620853  54.25
1      1550p542  599381.0     577.0     363.0  155.047393  54.25
2      1554p542  599382.0     577.0     364.0  155.473934  54.25
3      1559p542  599383.0     577.0     365.0  155.900474  54.25
4      1563p542  599384.0     577.0     366.0  156.327014  54.25

In [68]:
selected_bricks.to_csv("/home/rt2122/Data/selected_bricks")

In [72]:
for i in range(selected_bricks.shape[0]):
    print(selected_bricks.iloc[i])
    break

BRICKNAME    1546p542
BRICKID        599380
BRICKROW          577
BRICKCOL          362
RA            154.621
DEC             54.25
Name: 0, dtype: object

In [73]:
import re

In [82]:
line = "asadfg"
line = line.replace('a', 'b')
line.split('d')

['bsb', 'fg']

In [95]:
def sweep_in_field(name):
    if name.endswith('.fits'):
        name = name[:-5]
    if name.startswith('sweep-'):
        name = name[len('sweep-'):]
    name = name.replace('p', '-')
    name = name.replace('m', '-')
    name = name.split('-')
    name = [float(k) for k in name]
    
    sweep_dict = {'RA1' : name[0], 'DEC1' : name[1], 'RA2' : name[2], 'DEC2' : name[3], 
                 'RA' : (name[0] + name[2]) / 2, 'DEC' : (name[1] + name[3]) / 2}
    return line_in_field(sweep_dict)

In [96]:
sweep_in_field('sweep-150p055-160p060.fits')

True

In [97]:
names_south = pd.read_csv('/home/rt2122/Data/legacysurvey_dr8_south_sweep_8.0.sha256sum', 
                         sep='  ', names=['sum', 'name'], index_col=False)

/home/rt2122/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [105]:
names_south.index.name='index'
names_south.head()

,sum,name,selected
index,,,
0,fd0ca1647b0be98cab8b6a2a37da58169358eaaf71dec9...,sweep-000m005-010p000.fits,0
1,79d5db41dddcc3da001573657a4c7c6f2d51743e9a4d2c...,sweep-000m010-010m005.fits,0
2,db086d6ebe0a77ab657f8613698b8c25ac2f3cd9fe4e8f...,sweep-000m015-010m010.fits,0
3,613f861882fd4849fec715f6e5657a66a0d72a12998bd9...,sweep-000m020-010m015.fits,0
4,22f9da834c527729079bf721313fdb19fd2bd09e0071aa...,sweep-000m025-010m020.fits,0

In [100]:
names_north = pd.read_csv('/home/rt2122/Data/legacysurvey_dr8_north_sweep_8.0.sha256sum', 
                         sep='  ', names=['sum', 'name'], index_col=False)

/home/rt2122/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [101]:
names_north.index.name='index'
names_north.head()

,sum,name
index,,
0,e7d6ebb79146b54603ff632a49dfa065b67f00e72d41e0...,sweep-000m005-010p000.fits
1,059467281d09b90cd54a5fba819a42cca5e80bdc81d2bd...,sweep-000p000-010p005.fits
2,529ab83d58b6c45e2fb33fb99ad3fc3a30f8610f690499...,sweep-000p040-010p045.fits
3,b874d1d6ea701bd3f946e02f89255fd18b51034b5dac52...,sweep-010m005-020p000.fits
4,b9d4eb08e54bf8d92ebc624c18a22b3062b8c8a2ab89a0...,sweep-010p000-020p005.fits

In [107]:
names_south['selected'] = 0

In [111]:
for i in tqdm_notebook(range(names_south.shape[0])):
    name = names_south['name'].iloc[i]
    if sweep_in_field(name):
        names_south.loc[i, 'selected'] = 1

/home/rt2122/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=437.0), HTML(value='')))

In [112]:
for i in tqdm_notebook(range(names_north.shape[0])):
    name = names_north['name'].iloc[i]
    if sweep_in_field(name):
        names_north.loc[i, 'selected'] = 1

/home/rt2122/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=286.0), HTML(value='')))

In [113]:
names_north.to_csv('~/Data/selected_sweep_north')
names_south.to_csv('~/Data/selected_sweep_south')