In [9]:
import pandas as pd
import numpy as np
from astropy.coordinates import SkyCoord
from astropy import units as u
from astropy.io import fits

In [2]:
abell = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/Abell.csv')
psz2 = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/PSZ2.csv')

In [4]:
a_sc = SkyCoord(ra=np.array(abell['RA'])*u.degree, dec = np.array(abell['DEC'])*u.degree, frame='icrs')
p_sc = SkyCoord(ra=np.array(psz2['RA'])*u.degree, dec = np.array(psz2['DEC'])*u.degree, frame='icrs')

In [5]:
_, d2d, _ = p_sc.match_to_catalog_sky(a_sc)
np.count_nonzero(d2d.degree < 5/60)

439

In [6]:
len(abell)

4076

In [7]:
len(psz2)

1653

In [8]:
abell

          RA      DEC       z
0     1.8929  16.5116  0.1249
1     2.1125 -19.6384  0.0000
2     2.3163   4.0282  0.0000
3     2.3418   6.7782  0.0000
4     2.5728  33.0948  0.0000
...      ...      ...     ...
4071  0.1660 -21.1049  0.0000
4072  0.1665 -46.5549  0.0000
4073  0.1912 -36.4049  0.0000
4074  0.2660 -46.7382  0.0000
4075  0.4400 -48.2382  0.0000

[4076 rows x 3 columns]

In [12]:

with fits.open('/home/rt2122/Data/original_catalogs/abell.fit') as hdul:
    print(hdul[1].columns)
    print(len(hdul[1].data))
    abell['Rich'] = np.array(hdul[1].data['Rich'])

ColDefs(
    name = '_RAJ2000'; format = 'F8.4'; unit = 'deg'; start = 2
    name = '_DEJ2000'; format = 'F8.4'; unit = 'deg'; start = 11
    name = 'recno'; format = 'I8'; start = 20
    name = 'ACO'; format = 'I4'; start = 29
    name = 'RAB1950'; format = 'A7'; unit = '"h:m:s"'; start = 34
    name = 'DEB1950'; format = 'A6'; unit = '"d:m:s"'; start = 42
    name = 'BMtype'; format = 'A7'; start = 49
    name = 'Count'; format = 'I3'; unit = 'ct'; start = 57
    name = 'z'; format = 'F7.4'; start = 61
    name = 'Rich'; format = 'I1'; start = 69
    name = 'Dclass'; format = 'I1'; start = 71
    name = 'm10'; format = 'F4.1'; unit = 'mag'; start = 73
    name = '_RA_icrs'; format = 'A10'; unit = '"h:m:s"'; start = 78
    name = '_DE_icrs'; format = 'A9'; unit = '"d:m:s"'; start = 89
)
2712

ValueError: Length of values does not match length of index