In [34]:
from astropy.io import fits
import numpy as np
from astropy.coordinates import SkyCoord
from astropy import units as u
from tqdm.notebook import tqdm
import pandas as pd

In [12]:
coma_cluster = SkyCoord(ra=195*u.degree, dec=28*u.degree, frame='icrs')

In [27]:
idx = []

In [28]:
with fits.open('/home/rt2122/Data/fulldepth_neo4_index.fits') as hdul:
    data = hdul[1].data
    for i in tqdm(range(data.shape[0])):
        line = data[i]
        sc = SkyCoord(ra=line['RA']*u.degree, dec=line['DEC']*u.degree, frame='icrs')
        if coma_cluster.separation(sc).degree < 2:
            idx.append((i, line))

HBox(children=(FloatProgress(value=0.0, max=36480.0), HTML(value='')))

In [29]:
for line in idx:
    print(line[0])

19754
19755
19814
19815
19926
19927
19998
19999

In [31]:
columns = []

In [32]:
with fits.open('/home/rt2122/Data/fulldepth_neo4_index.fits') as hdul:
    print(hdul[1].columns)
    columns = hdul[1].columns.names

ColDefs(
    name = 'COADD_ID'; format = '8A'
    name = 'RA'; format = 'D'
    name = 'DEC'; format = 'D'
    name = 'BAND'; format = 'I'
    name = 'LGAL'; format = 'D'
    name = 'BGAL'; format = 'D'
    name = 'LAMBDA'; format = 'D'
    name = 'BETA'; format = 'D'
    name = 'MJDMIN'; format = 'D'
    name = 'MJDMAX'; format = 'D'
    name = 'MJDMEAN'; format = 'D'
    name = 'DT'; format = 'D'
    name = 'COVMIN'; format = 'J'
    name = 'COVMAX'; format = 'J'
    name = 'COVMED'; format = 'E'
    name = 'N_EXP'; format = 'E'
    name = 'N_CALIB'; format = 'J'
    name = 'NAXIS'; format = '2J'
    name = 'CD'; format = '4D'; dim = '( 2, 2)'
    name = 'CDELT'; format = '2D'
    name = 'CRPIX'; format = '2D'
    name = 'CRVAL'; format = '2D'
    name = 'CTYPE'; format = '16A'; dim = '(8, 2)'
    name = 'LONGPOLE'; format = 'D'
    name = 'LATPOLE'; format = 'D'
    name = 'PV2'; format = '2D'
)

In [30]:
for line in idx:
    print(line[1]['RA'], line[1]['DEC'])

193.714674 28.774444
193.714674 28.774444
194.366938 27.26
194.366938 27.26
195.428964 28.774444
195.428964 28.774444
196.057085 27.26
196.057085 27.26

In [37]:
columns = columns[:-1]
columns

['COADD_ID',
 'RA',
 'DEC',
 'BAND',
 'LGAL',
 'BGAL',
 'LAMBDA',
 'BETA',
 'MJDMIN',
 'MJDMAX',
 'MJDMEAN',
 'DT',
 'COVMIN',
 'COVMAX',
 'COVMED',
 'N_EXP',
 'N_CALIB',
 'NAXIS',
 'CD',
 'CDELT',
 'CRPIX',
 'CRVAL',
 'CTYPE',
 'LONGPOLE',
 'LATPOLE',
 'PV2']

In [48]:
coma_wise_idx = pd.DataFrame(columns=columns)
coma_wise_idx.index.name = 'index'
coma_wise_idx

Empty DataFrame
Columns: [COADD_ID, RA, DEC, BAND, LGAL, BGAL, LAMBDA, BETA, MJDMIN, MJDMAX, MJDMEAN, DT, COVMIN, COVMAX, COVMED, N_EXP, N_CALIB, NAXIS, CD, CDELT, CRPIX, CRVAL, CTYPE, LONGPOLE, LATPOLE, PV2]
Index: []

[0 rows x 26 columns]

In [49]:
for line in idx:
    i = line[0]
    for col in columns:
        coma_wise_idx.loc[i,col] = line[1][col]

In [47]:
coma_wise_idx.loc[0,'RA'] = 3

In [50]:
coma_wise_idx

,COADD_ID,RA,DEC,BAND,LGAL,BGAL,LAMBDA,BETA,MJDMIN,MJDMAX,...,N_CALIB,NAXIS,CD,CDELT,CRPIX,CRVAL,CTYPE,LONGPOLE,LATPOLE,PV2
index,,,,,,,,,,,,,,,,,,,,,
19754,1937p287,193.715,28.7744,1,98.481,88.1888,179.945,31.6214,55360.7,57909.5,...,4510,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.4984699220227, 1024.5114509904738]","[193.714674, 28.774444]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19755,1937p287,193.715,28.7744,2,98.481,88.1888,179.945,31.6214,55360.7,57909.5,...,3472,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.494200388197, 1024.5187538344337]","[193.714674, 28.774444]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19814,1943p272,194.367,27.26,1,38.8879,88.6527,181.342,30.5289,55362,57911.2,...,4529,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.4990878875312, 1024.4976328991654]","[194.366938, 27.26]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19815,1943p272,194.367,27.26,2,38.8879,88.6527,181.342,30.5289,55362,57911.2,...,3435,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.494003084248, 1024.5005146977037]","[194.366938, 27.26]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19926,1954p287,195.429,28.7744,1,69.4813,87.1963,181.524,32.3033,55362.1,57911.4,...,4350,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.481676992093, 1024.5164394469102]","[195.428964, 28.774444]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19927,1954p287,195.429,28.7744,2,69.4813,87.1963,181.524,32.3033,55362.1,57911.4,...,3338,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.4790655200675, 1024.5123083256606]","[195.428964, 28.774444]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19998,1960p272,196.057,27.26,1,36.3143,87.1529,182.908,31.2007,55363.4,57912.7,...,4315,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.5032679272103, 1024.5142391766099]","[196.057085, 27.26]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"
19999,1960p272,196.057,27.26,2,36.3143,87.1529,182.908,31.2007,55363.4,57912.7,...,3263,"[2048, 2048]","[[-0.000763888888889, 0.0], [0.0, 0.0007638888...","[1.0, 1.0]","[1024.4978515682337, 1024.5193203277026]","[196.057085, 27.26]","[RA---TAN, DEC--TAN]",180,0,"[0.0, 0.0]"

In [51]:
coma_wise_idx.to_csv('/home/rt2122/Data/coma_wise_idx.csv')