In [1]:
import numpy as np
import pandas as pd
from DS_Planck_Unet import *
from DS_detector import *

In [2]:
model = load_planck_model(
    '/home/rt2122/Models/planck_z/f8d2.ep0014-vl0.006570-l0.004067.hdf5')

In [3]:
all_dict = gen_pics_for_detection(6, model)

In [4]:
coords = detect_clusters(all_dict, 0.4)

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
coords.shape

(122, 9)

In [6]:
coords[coords['status'] == 'fp']

,RA,DEC,area,min_rad,max_rad,min_pred,max_pred,status,catalog
1,161.467197,78.126561,11.0,0.626627,2.561446,0.401674,0.685706,fp,
2,162.696027,76.059708,1.0,0.000000,1.414214,0.436257,0.436257,fp,
7,186.032750,74.209693,10.0,1.334084,2.889388,0.404894,0.704375,fp,
8,187.943700,74.675908,8.0,0.870983,2.423663,0.409574,0.604940,fp,
12,242.729493,80.477600,3.0,0.447208,1.829483,0.463462,0.578811,fp,
13,204.733158,78.183256,13.0,0.700204,2.980943,0.428422,0.781113,fp,
14,257.194247,78.548227,19.0,1.985090,3.898565,0.415812,0.938106,fp,
17,205.209488,75.701507,3.0,0.448282,1.819220,0.408980,0.480205,fp,
30,243.161100,71.524720,11.0,0.963092,2.490142,0.434382,0.824713,fp,
32,216.198500,66.392099,4.0,0.734834,2.121384,0.428976,0.500726,fp,
34,207.981014,61.070843,11.0,0.885640,2.992563,0.402437,0.868999,fp,
36,251.077157,67.944603,10.0,0.572649,2.527094,0.470798,0.803837,fp,
37,249.200181,66.351126,6.0,0.846895,2.610699,0.402021,0.516787,fp,
49,228.087615,59.219463,3.0,0.465544,1.801758,0.407501,0.425953,fp,

In [7]:
coords[coords['status'] == 'tp']

,RA,DEC,area,min_rad,max_rad,min_pred,max_pred,status,catalog
0,171.522433,83.983315,7.0,0.689688,2.490028,0.500296,0.885333,tp,planck_no_z
3,261.411216,85.879280,19.0,1.478872,3.613255,0.508190,0.998537,tp,planck_z
4,173.409443,75.115466,3.0,0.468852,1.882454,0.414668,0.466701,tp,mcxcwp
5,171.923132,71.105538,19.0,1.134615,3.556877,0.430976,0.922336,tp,planck_z
6,178.983605,73.566323,15.0,1.070389,3.143234,0.403708,0.760757,tp,planck_z
9,181.797649,71.686960,14.0,0.921796,3.343648,0.482473,0.813310,tp,planck_z
10,284.353067,74.919484,11.0,1.081440,3.332216,0.425504,0.868978,tp,planck_z
11,275.878223,78.388854,17.0,0.978495,3.508872,0.434119,0.984679,tp,planck_z
15,245.108283,79.184374,1.0,0.000000,1.414214,0.450607,0.450607,tp,planck_no_z
16,208.761411,77.263916,17.0,1.015839,3.472759,0.465352,0.990765,tp,planck_z
18,198.198805,72.885503,15.0,0.803303,3.251297,0.402105,0.802152,tp,planck_no_z
19,199.059625,72.553462,6.0,0.275900,2.328029,0.406776,0.664781,tp,planck_no_z
20,199.954068,70.016700,13.0,1.035318,3.262703,0.417573,0.812428,tp,planck_z
21,200.823714,69.366390,2.0,0.477253,1.783894,0.416297,0.455980,tp,planck_no_z
22,195.837588,67.458089,16.0,1.151331,3.340828,0.409737,0.939598,tp,planck_z
23,194.572598,65.373192,16.0,1.529360,3.576284,0.486278,0.973751,tp,planck_z
24,213.485300,71.292974,18.0,1.106321,3.376304,0.413182,0.974803,tp,planck_z
25,209.957586,72.157188,16.0,0.875839,3.374101,0.421557,0.862101,tp,planck_z
26,200.928641,68.711621,18.0,1.161735,3.360863,0.400094,0.962514,tp,planck_no_z
27,198.559209,64.607322,18.0,1.081389,3.485846,0.417733,0.972595,tp,planck_z
28,261.894925,70.621822,2.0,0.499885,1.802680,0.410516,0.410705,tp,planck_z
29,209.779602,67.451528,9.0,0.668219,2.591692,0.414601,0.698544,tp,planck_no_z
31,257.702950,68.727433,10.0,0.470286,3.136738,0.410478,0.726849,tp,planck_no_z
33,209.938881,62.524432,18.0,1.006873,3.353002,0.456349,0.958437,tp,planck_z
35,203.987873,59.246696,22.0,1.442856,3.968591,0.401936,0.952616,tp,planck_z
38,248.752028,67.620019,14.0,0.774379,2.944922,0.414109,0.741829,tp,planck_z
39,216.366076,63.238739,18.0,1.490965,3.555615,0.431278,0.945924,tp,planck_z
40,212.586934,59.697488,18.0,1.283739,3.718112,0.428237,0.915368,tp,planck_z
41,207.195082,57.381217,15.0,1.420455,3.075745,0.430675,0.969792,tp,planck_z
42,239.071310,66.354136,17.0,1.039959,3.448895,0.401314,0.979798,tp,planck_z
43,223.804081,58.869190,8.0,0.877482,2.388728,0.423525,0.651555,tp,planck_z
44,217.150999,56.931308,19.0,1.202048,3.340621,0.425725,0.975734,tp,planck_z
45,216.761780,55.794877,16.0,0.572928,3.299361,0.414153,0.886572,tp,planck_z
46,215.619658,54.939769,17.0,1.165284,3.320022,0.430907,0.897837,tp,planck_no_z
47,213.674510,54.829549,15.0,0.892859,2.792526,0.452998,0.923296,tp,planck_z
48,238.125773,62.072073,13.0,0.787969,2.961847,0.412519,0.731900,tp,planck_z
50,227.104172,57.929406,17.0,1.173071,3.371694,0.422547,0.984610,tp,planck_z
51,223.287020,58.090154,19.0,1.189236,3.325685,0.405837,0.985720,tp,planck_z
52,218.924036,55.181897,17.0,0.756471,3.658951,0.442479,0.880564,tp,planck_z
53,214.785746,49.107184,9.0,0.350070,2.842972,0.429939,0.718815,tp,mcxcwp

In [9]:
coords[coords['status'] == 'fn'][coords['catalog'] == 'planck_z']

<ipython-input-9-f19fd7addfbe>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  coords[coords['status'] == 'fn'][coords['catalog'] == 'planck_z']

,RA,DEC,area,min_rad,max_rad,min_pred,max_pred,status,catalog
111,246.903435,65.396317,NaN,NaN,NaN,NaN,NaN,fn,planck_z
112,248.977644,66.202314,NaN,NaN,NaN,NaN,NaN,fn,planck_z
113,231.052549,62.022709,NaN,NaN,NaN,NaN,NaN,fn,planck_z
114,238.037819,65.340540,NaN,NaN,NaN,NaN,NaN,fn,planck_z
115,236.709588,69.944118,NaN,NaN,NaN,NaN,NaN,fn,planck_z
116,216.777337,65.652811,NaN,NaN,NaN,NaN,NaN,fn,planck_z
117,256.100465,78.632469,NaN,NaN,NaN,NaN,NaN,fn,planck_z
118,213.306316,74.292047,NaN,NaN,NaN,NaN,NaN,fn,planck_z
119,238.760353,84.163702,NaN,NaN,NaN,NaN,NaN,fn,planck_z
120,205.487900,74.451412,NaN,NaN,NaN,NaN,NaN,fn,planck_z
121,187.943617,82.410032,NaN,NaN,NaN,NaN,NaN,fn,planck_z

In [4]:
stat = detect_clusters(all_dict, 0.4, ret_coords=False)

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
stat['planck_z']

   tp  fp  tn  fn
0  29   0  58  11

In [6]:
stat['planck_no_z']

   tp  fp  tn  fn
0   9   0  58   9

In [7]:
stat['mcxcwp']

   tp  fp  tn  fn
0   2   0  58  48

In [3]:
all_dict = gen_pics_for_detection(6, model, step=16)

In [8]:
stat = detect_clusters(all_dict, 0.2, ret_coords=False, match_before_merge=True)

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
stat

   tp   fp   tn  fn      catalog
0  16  120  746   2  planck_no_z
1  39  120  746   1     planck_z
2   7  120  746  43       mcxcwp

In [16]:
stat

   tp  fp    tn  fn      catalog
0  23   3  1321  17     planck_z
1   0   3  1321  50       mcxcwp
2   3   3  1321  15  planck_no_z

In [12]:
a = pd.DataFrame({'RA' : [1, 2, 1, None, None], 
                  'DEC':[2, 2, 2, None, None], 
                  'idx' : [5, 6, 7, 8, 9]})
a

    RA  DEC  idx
0  1.0  2.0    5
1  2.0  2.0    6
2  1.0  2.0    7
3  NaN  NaN    8
4  NaN  NaN    9

In [13]:
a = a.drop_duplicates(subset=['RA', 'DEC'])

In [14]:
a

    RA  DEC  idx
0  1.0  2.0    5
1  2.0  2.0    6
3  NaN  NaN    8