In [1]:
import numpy as np
import pandas as pd
from DS_models_stat import calc_corr_b
from DS_models_stat import cut_cat

In [2]:
eRosita = pd.read_csv('/home/rt2122/Data/SRGz/clusters/clusters1_b20_edit.csv')
cats = {'SZcat(AL)' : '/home/rt2122/Data/detected_cats/full_pz_all_found34_thr0.1_step8_no_fn.csv',
       'SZcat(gen)' : '/home/rt2122/Data/gen_cats/gen_all_found_brcat_prec0.00.csv'}

In [7]:
df = []
for rad in np.arange(400/3600, 1200/3600, 200/3600):
    line = {}
    for name in cats:
        det = cut_cat(pd.read_csv(cats[name]), dict_cut={'l' : [0, 180], 'b' : [20, np.inf]})
        line[name] = 1-calc_corr_b(det, eRosita, small_rads=[0, rad])
    df.append(pd.DataFrame(line, index=[rad]))
df = pd.concat(df)

In [8]:
df.index = np.int32(df.index * 3600)
df #%ложных

      SZcat(AL)  SZcat(gen)
400    0.200644    0.239609
600    0.338103    0.388744
800    0.466800    0.523405
1000   0.578879    0.635167

In [3]:
def simple_recall(det_cat, true_cat, match=400/3600):
    from astropy.coordinates import SkyCoord
    from astropy import units as u
    
    det_sc = SkyCoord(ra=np.array(det_cat['RA'])*u.degree, dec=np.array(det_cat['DEC'])*u.degree, frame='icrs')
    tr_sc = SkyCoord(ra=np.array(true_cat['RA'])*u.degree, dec=np.array(true_cat['DEC'])*u.degree, frame='icrs')
    
    _, d2d, _ = tr_sc.match_to_catalog_sky(det_sc)
    return np.count_nonzero(d2d.degree < match) / len(true_cat)

In [4]:
df = []
for rad in np.arange(400/3600, 1200/3600, 200/3600):
    line = {}
    for name in cats:
        det = cut_cat(pd.read_csv(cats[name]), dict_cut={'l' : [0, 180], 'b' : [20, np.inf]})
        line[name] = simple_recall(det, eRosita, match=rad)
    df.append(pd.DataFrame(line, index=[int(rad*3600)]))
df = pd.concat(df)

In [5]:
df

      SZcat(AL)  SZcat(gen)
400    0.111878    0.142090
600    0.147856    0.191917
800    0.185954    0.244455
1000   0.228043    0.303696

In [4]:
def not_found(det_cat, true_cat, r1, r2=1000/3600):
    from astropy.coordinates import SkyCoord
    from astropy import units as u
    
    det_sc = SkyCoord(ra=np.array(det_cat['RA'])*u.degree, dec=np.array(det_cat['DEC'])*u.degree, frame='icrs')
    tr_sc = SkyCoord(ra=np.array(true_cat['RA'])*u.degree, dec=np.array(true_cat['DEC'])*u.degree, frame='icrs')
    
    _, d2d, _ = tr_sc.match_to_catalog_sky(det_sc)
    count = np.count_nonzero(np.logical_and(d2d.degree >= r1, d2d.degree < r2))
    return count / len(true_cat)

In [5]:
df = []
for rad in np.arange(400/3600, 1200/3600, 200/3600):
    line = {}
    for name in cats:
        det = cut_cat(pd.read_csv(cats[name]), dict_cut={'l' : [0, 180], 'b' : [20, np.inf]})
        line[name] = not_found(det, eRosita, r1=rad)
    df.append(pd.DataFrame(line, index=[int(rad*3600)]))
df = pd.concat(df)

In [6]:
df #%ненайденных

      SZcat(AL)  SZcat(gen)
400    0.116166    0.161607
600    0.080187    0.111779
800    0.042090    0.059241
1000   0.000000    0.000000