In [1]:
import numpy as np
import pandas as pd
from DS_models_stat import simple_recall, calc_corr_b
from tqdm.notebook import tqdm

In [2]:
rads = np.arange(400/3600, 1200/3600, 200/3600)
det_cats = {'SZcat(AL)' : '/home/rt2122/Data/detected_cats/full_pz_all_found34_thr0.1_step8_no_fn.csv',
           'SZcat(gen)' : '/home/rt2122/Data/gen_cats/gen_all_found_brcat_prec0.00.csv'}
true_cats = {
            'PSZ2(z)' : '/home/rt2122/Data/clusters/planck_z.csv',
            'MCXC' : '/home/rt2122/Data/original_catalogs/csv/MCXC.csv',
            'ACT' : '/home/rt2122/Data/original_catalogs/csv/ACT.csv',
            'eROSITA' : '/home/rt2122/Data/SRGz/clusters/clusters1_b20_edit.csv'
            }

In [3]:
true_d = {}
for tr_name in tqdm(true_cats):
    true_cat = pd.read_csv(true_cats[tr_name])
    cur_d = {}
    for det_name in tqdm(det_cats):
        det_cat = pd.read_csv(det_cats[det_name])
        df_lines = []
        for rad in rads:
            line = {}
            line['recall'] = simple_recall(det_cat, true_cat, match=rad)
            line['coef'], line['%false'], line['%not_found'] = calc_corr_b(det_cat, true_cat, 
                                                small_rads=[0, rad], get_coefs=True)
            line['corr_recall'] = line['recall'] * line['coef']
            df_lines.append(pd.DataFrame(line, index=[int(rad*3600)]))
        cur_d[det_name] = pd.concat(df_lines)
    true_d[tr_name] = cur_d

  0%|          | 0/4 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

In [4]:
true_d['eROSITA']['SZcat(AL)']

        recall      coef    %false  %not_found  corr_recall
400   0.111976  0.857450  0.201649    0.074027     0.096014
600   0.148004  0.693639  0.339314    0.049877     0.102661
800   0.186200  0.545647  0.468473    0.026565     0.101600
1000  0.228388  0.419478  0.580522    0.000000     0.095804

In [5]:
true_d['eROSITA']['SZcat(gen)']

        recall      coef    %false  %not_found  corr_recall
400   0.142188  0.844114  0.240519    0.111434     0.120023
600   0.192065  0.655708  0.389822    0.074618     0.125939
800   0.244800  0.493865  0.524688    0.039034     0.120898
1000  0.304091  0.363531  0.636469    0.000000     0.110546

In [6]:
true_d['PSZ2(z)']['SZcat(AL)']

        recall      coef    %false  %not_found  corr_recall
400   0.989945  1.047096  0.013331    0.061243     1.036567
600   0.995430  1.014906  0.029452    0.045704     1.010268
800   0.997258  0.972944  0.051336    0.025594     0.970276
1000  0.997258  0.922136  0.077864    0.000000     0.919607

In [7]:
true_d['PSZ2(z)']['SZcat(gen)']

        recall      coef    %false  %not_found  corr_recall
400   0.994516  1.095343  0.021792    0.119744     1.089335
600   0.997258  1.041112  0.047679    0.093236     1.038257
800   0.999086  0.963914  0.081427    0.049360     0.963033
1000  0.999086  0.878714  0.121286    0.000000     0.877910

In [8]:
true_d['MCXC']['SZcat(AL)']

        recall      coef    %false  %not_found  corr_recall
400   0.473322  1.080532  0.045913    0.132530     0.511440
600   0.520367  0.981481  0.091974    0.080895     0.510730
800   0.549627  0.886829  0.151157    0.044750     0.487425
1000  0.580608  0.783014  0.216986    0.000000     0.454624

In [9]:
true_d['MCXC']['SZcat(gen)']

        recall      coef    %false  %not_found  corr_recall
400   0.506024  1.121612  0.057846    0.190476     0.567563
600   0.556512  0.992330  0.113009    0.118761     0.552244
800   0.589788  0.871974  0.181997    0.065978     0.514279
1000  0.627080  0.744604  0.255396    0.000000     0.466926

In [10]:
true_d['ACT']['SZcat(AL)']

        recall      coef    %false  %not_found  corr_recall
400   0.262694  1.009083  0.090633    0.109654     0.265080
600   0.299881  0.885663  0.177109    0.076281     0.265593
800   0.335399  0.752700  0.277112    0.041240     0.252455
1000  0.380215  0.629419  0.370581    0.000000     0.239314

In [11]:
true_d['ACT']['SZcat(gen)']

        recall      coef    %false  %not_found  corr_recall
400   0.290346  1.027193  0.101528    0.143266     0.298241
600   0.331347  0.884572  0.195582    0.099642     0.293100
800   0.372348  0.736900  0.300770    0.053874     0.274383
1000  0.423838  0.600997  0.399003    0.000000     0.254725