In [13]:
import pandas as pd
import numpy as np
from DS_models_stat import stat_cat 
from DS_Planck_Unet import east_val, west_val

In [2]:
df = pd.read_csv('/home/rt2122/Data/detected_cats/full_pz_all_found34_thr0.1_step8_no_fn.csv')
psz2 = pd.read_csv('/home/rt2122/Data/original_catalogs/csv/PSZ2.csv')

In [3]:
len(psz2)

1653

In [9]:
df = df.sort_values(by=['max_pred'], ascending=False, axis='index')
df.index = np.arange(len(df))
df = df[:1653]
df

,RA,DEC,area,min_rad,max_rad,mean_rad,min_pred,max_pred,tRA,tDEC,status,catalog,M500,z,pix2
0,85.277300,-1.613652,36.0,2.201086,5.766286,3.571320,0.112442,1.000000,NaN,NaN,fp,NaN,NaN,NaN,train_pix
1,34.917374,1.632254,19.0,1.595903,3.510434,2.575054,0.109375,1.000000,NaN,NaN,fp,NaN,NaN,NaN,train_pix
2,85.663133,-1.720311,64.0,0.774985,7.825358,5.091448,0.100268,0.999978,NaN,NaN,fp,NaN,NaN,NaN,train_pix
3,90.796013,42.214613,33.0,1.811333,5.601533,3.515987,0.103833,0.999954,90.839443,42.232290,tp,planck_z,10.759314,0.2280,train_pix
4,243.983913,-6.150970,40.0,1.935608,5.988273,3.705241,0.106300,0.999788,243.954880,-6.152363,tp,planck_z,16.116468,0.2030,train_pix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,226.966026,-12.590373,29.0,1.916132,5.254337,3.139062,0.115701,0.779265,NaN,NaN,fp,NaN,NaN,NaN,train_pix
1649,248.793114,67.644786,27.0,1.354832,4.150384,3.013284,0.102615,0.779126,248.671370,67.642280,tp,planck_z,2.506282,0.1668,test_pix
1650,200.233267,35.889148,41.0,2.184360,7.868246,4.219617,0.101674,0.779084,NaN,NaN,fp,NaN,NaN,NaN,train_pix
1651,270.635983,-52.634447,38.0,2.449257,5.288451,3.520107,0.100677,0.779049,270.622000,-52.609000,tp,mcxcwp,2.926400,0.1250,train_pix
1652,221.220607,12.785552,28.0,1.658033,4.232979,3.101611,0.100447,0.778944,NaN,NaN,fp,NaN,NaN,NaN,train_pix

In [10]:
df.to_csv('/home/rt2122/Data/detected_cats/short_pz_all_found34_thr0.1_step8_no_fn.csv', index=False)

In [14]:
stats = stat_cat({'short_szcat' : '/home/rt2122/Data/detected_cats/short_pz_all_found34_thr0.1_step8_no_fn.csv'},
                big_pix=west_val + east_val, match_dist=400/3600)
stats41 = stat_cat({'short_szcat' : '/home/rt2122/Data/detected_cats/short_pz_all_found34_thr0.1_step8_no_fn.csv'},
                big_pix=[41], match_dist=400/3600)

In [15]:
stats

,PSZ2,MCXC,ACT,Abell,eROSITA,PSZ2(z),found,precision,all
short_szcat,0.642202,0.309322,0.083056,0.132509,0.028262,0.732558,160,0.869565,184

In [16]:
stats41

,PSZ2,MCXC,ACT,Abell,PSZ2(z),found,precision,all
short_szcat,0.655172,0.352941,0.088415,0.100559,0.716981,44,0.897959,49