In [1]:
import pandas as pd
import numpy as np
from astropy.io import fits
from astropy.table import Table
from DS_detector import rematch_cat

In [2]:
rm = None
with fits.open('/home/rt2122/Data/original_catalogs/redmapper.fits.gz') as hdul:
    print(repr(hdul[1].columns))
    rm = Table(hdul[1].data)['RA', 'DEC', 'LAMBDA', 'Z_SPEC'].to_pandas()

ColDefs(
    name = 'ID'; format = 'J'
    name = 'NAME'; format = '20A'
    name = 'RA'; format = 'D'
    name = 'DEC'; format = 'D'
    name = 'Z_LAMBDA'; format = 'E'
    name = 'Z_LAMBDA_ERR'; format = 'E'
    name = 'LAMBDA'; format = 'E'
    name = 'LAMBDA_ERR'; format = 'E'
    name = 'S'; format = 'E'
    name = 'Z_SPEC'; format = 'E'
    name = 'OBJID'; format = 'K'
    name = 'IMAG'; format = 'E'
    name = 'IMAG_ERR'; format = 'E'
    name = 'MODEL_MAG_U'; format = 'E'
    name = 'MODEL_MAGERR_U'; format = 'E'
    name = 'MODEL_MAG_G'; format = 'E'
    name = 'MODEL_MAGERR_G'; format = 'E'
    name = 'MODEL_MAG_R'; format = 'E'
    name = 'MODEL_MAGERR_R'; format = 'E'
    name = 'MODEL_MAG_I'; format = 'E'
    name = 'MODEL_MAGERR_I'; format = 'E'
    name = 'MODEL_MAG_Z'; format = 'E'
    name = 'MODEL_MAGERR_Z'; format = 'E'
    name = 'ILUM'; format = 'E'
    name = 'P_CEN'; format = '5E'
    name = 'RA_CEN'; format = '5E'
    name = 'DEC_CEN'; format = '5E'
    name = 'ID_CEN'; format = '5K'
    name = 'PZBINS'; format = '21E'
    name = 'PZ'; format = '21E'
)

In [3]:
rm.rename(columns={'Z_SPEC' : 'z'}, inplace=True)
rm

               RA        DEC      LAMBDA         z
0      239.583329  27.233413  169.837845  0.090807
1      250.082548  46.711531  199.539276 -1.000000
2      197.872957  -1.341116  164.712173 -1.000000
3      137.300745  10.973595  174.704178 -1.000000
4      203.833723  41.001146  189.181152  0.228309
...           ...        ...         ...       ...
26106   19.879442  10.922196   41.970650  0.568342
26107   16.921837  28.490415   27.875051 -1.000000
26108  180.830799  52.370432   24.579977 -1.000000
26109  153.824226  43.635358   33.305824 -1.000000
26110  135.963371  15.201732   34.236374 -1.000000

[26111 rows x 4 columns]

In [5]:
rm.to_csv('/home/rt2122/Data/original_catalogs/csv/RM.csv', index=False)
rm.to_csv('/home/rt2122/Data/original_catalogs/csv/opt/RM.csv', index=False)

In [12]:
df = rematch_cat('/home/rt2122/Data/detected_cats/full_pz_all_found34_thr0.1_step8_no_fn.csv', 
                 '/home/rt2122/Data/original_catalogs/csv/')

/home/rt2122/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)